*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    background-color:#333;
    padding: 15px 0;
    /* align-items: center; */
    justify-content: space-between;


}
.card{
      background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1) ;
}

.nav-links{ 
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.nav-container{
    height: 350px;
    width: 90%;
    max-width: 1200px;
}
.nav-links a{
    text-decoration: none;
    color: white;
}
.nav-links a:hover{
    color:#d35400;
}

    
    

/* Hero */
.hero{
    background:linear-gradient(rgba(0,0,0,0.6)) ,url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&auto=format&fit=crop&w=1600&q=80);
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    background-size: cover;
    background-position-x: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: white;
    height: 60vh;
}
.hero h1{
    font-size: 60px;
    margin-bottom: 10px;
}
.hero p{
    font-size: larger;
    margin-bottom: 20px;
}
.hero button{
    background-color:orange;
    color:white;
    padding: 15px 30px;
    border-radius:5px ;
    cursor: pointer;
}
.hero button:hover{
   background-color: #d35400;
}


.Dishes{display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
}
.money{
    color: orange;
}
.card{
    padding:1px ;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-text{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-h2{
    padding-top: 17px;
    margin-left: 25px;

}
.text-h3{
    margin-bottom: 20px;
}
.about{
    display: flex;
    gap: 30px;
    width: 90%;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2) ;
    padding: 40.9px;
    margin-left: 30px;
}
.about-h2{
    margin-top: 40px;
    margin-left: 26px;
    margin-bottom: 20px;
    font-size: 28px;
}
.testimonial{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     background: white;
    border-radius: 10px;
    gap: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) ;
    padding:20px;
    text-align: center;

}
.star{
    padding: 10px;
}
.testimonial-h2{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 28px;
}



.table{
    width: 100%;
    background: color #f2f2f2;
    text-align: left;
    /* border-collapse: collapse; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2) ;
    height:200px;
    margin-left: 30px;
}
.table-h2{
    text-align: left;
    margin-top: 70px;
    margin-bottom: 20px;
}
.thead{
    background-color: orange;
    color:white;
    height: 45px;
}
.td:hover{
    background-color: #ddd;
}
tr:nth-child(even){
    background: #f2f2f2;
}
.reserve{
    width: 90%;
    display:grid;
    grid-template-columns: 1fr 1fr;
     background: #ffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4) ;
    padding: 20px ;
    /* max-width: 1200px; */
    /* margin: 34px auto; */
    gap: 20px;
    /* row-gap: 20px; */
    font-size: large;
}
.reserve label{
    display: block;
    margin-top: 8px;
}
.reserve button{
    background-color: orange;
    color: #ddd;
    width: 100%;
    height:40px;
    margin-top: 30px;
    border: orange;
    border-radius:5px ;
    cursor: pointer;
    font-size: medium;
}
.reserve button:hover{
   background-color: #d35400;
    
}
.reserve input{
    width: 100%;
    height: 40px;
}
.datas{
    grid-column: 1/3;
}

.reserve-h2{
    margin-top: 75px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.footer{
    color:white;
    background-color: #333;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7px;

}
.footer h2{color:orange;
}
.copyrite{text-align: center;
    margin-top: 20px;

}
.follow-logo{
    display: flex;
    gap: 10%;
    cursor: pointer;
}
.fb:hover{
    color: #d35400;
}
.x:hover{
        color: #d35400;
}
.insta:hover{
        color: #d35400;

}
/* RESPONSIVE */
    @media (max-width:768px)
     {
 .nav-container{ 
    flex-direction: column;
    gap: 20px;
 }
 .nav-links{
    flex-wrap: wrap;
    flex-direction: column;
 }
 .hero h1{
    font-size: 50px;

 }
 .hero-features{
    grid-template-columns: repeat(2,1fr);

 }
 .Dishes{
    grid-template-columns: 1fr;
 }
 .testimonial{
    grid-template-columns: 1fr;
 }
 .reserve{
    grid-template-columns: 1fr;
 }
 .footer-grid{
    grid-template-columns: repeat(3,1fr);
    
 }
 
 
 
     







   


     }